@import "tailwindcss";

:root {
  --bg: #DFE3F5;
  --text: #000000;
  --text-sec: #222222;
  --border: #D9D9D9;
  --brand: #124AFF;
}

@theme inline {
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-text-sec: var(--text-sec);
  --color-border: var(--border);
  --color-brand: var(--brand);
  --font-sans: var(--font-open-sans);
  --font-gsans: var(--font-geist-sans);
  --font-pop: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #080C1D;
    --text: #FFFFFF;
    --text-sec: #D9D9D9;
    --border: #3A3A3A;
  }
}

body {
  background: var(--bg);
  color: var(--text); 
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  font-family:  var(--font-poppins), var(--font-gsans);
}

h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--font-poppins), var(--font-gsans);

}

h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-poppins), var(--font-gsans);
}

h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-poppins), var(--font-gsans);
}

p {
  font-size: 16px;
  color: var(--text-sec);
  font-family: var(--font-sans, Inter);
}
.small {
  font-size: 13px;
}
button {
  background-color: var(--brand);
  color: #FFFFFF;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2992px);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}
